<h3><%= @packet.name %></h3>
<ul>
  <strong>Description:</strong> <%= @packet.description %>
  <br/>
  <strong>Created at:</strong>  <%= @packet.created_at %>
  <br/>
</ul>
<button>Edit</button>
<button>Delete</button>
